:root {
    box-sizing: border-box;
}
.calculator {
    width: 225px;
    height: 300px;
    font-family: "Helvetica";
    font-weight: lighter;
    background-color: #505050;
}

.screen {
    padding: 10px 15px;
    font-size: 40px;
    text-align: right;
    color: #fff;
}

.buttons {
    height: 75%;
    display: flex;
    flex-direction: row; /* not technically necessary */
    flex-wrap: wrap;
    align-content: stretch;
}

.button {
    color: white;
    background-color: #959595;
    border: 1px solid #505050;
    text-align: center;
    padding-top: 15px;
    width:24%;
    flex-grow: 1;
}

.bigbutton {
    width: 49%;
    text-align: left;
}

.topbutton {
    background-color: #737373;
}
.operator {
    background-color: #fe9500;
}